{% extends 'base.html.twig' %}

{% block title %} {{ controller_oneResto }} {% endblock %}


{% block body %}  
	
	<img class="card-img-top" src="/pictures/{{pictureResto}}.jpg" alt="{{pictureResto}}" id="imgOneResto" />
	
	
	<div id="theOneResto">
		<p id ="titleOneResto">
			{{nameResto}}
		</p>
		<p>
			{{streetResto}} <br />{{zipCodeResto}} {{cityResto}}
		</p>
		<p>
			Tél: {{phoneResto}}<br />
			Mail: {{emailResto}}
		</p>
	</div>

  
	<div id="foods">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#starter" role="tab" aria-controls="nav-home" aria-selected="true">starter</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dish" role="tab" aria-controls="nav-profile" aria-selected="false">Dish</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#drink" role="tab" aria-controls="nav-contact" aria-selected="false">Drink</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#dessert" role="tab" aria-controls="nav-contact" aria-selected="false">Dessert</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="starter" role="tabpanel" aria-labelledby="nav-home-tab">
				{% for food in foods %}
					{% if food.category == 'starter'%}    
						{{food.name}} 
						{{food.price}} €<br />
						{{food.ingredient}}<br />
					{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="dish" role="tabpanel" aria-labelledby="nav-profile-tab">
				{% for food in foods %}
					{% if food.category == 'dish'%}    
						{{food.name}} 
						{{food.price}} €<br />
						{{food.ingredient}}<br />
					{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="nav-contact-tab">
				{% for food in foods %}
					{% if food.category == 'drink'%}    
						{{food.name}} 
						{{food.price}} €<br />
						{{food.ingredient}}<br />
					{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="nav-contact-tab">
				{% for food in foods %}
					{% if food.category == 'dessert'%}    
						{{food.name}} 
						{{food.price}} €<br />
						{{food.ingredient}}<br />
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="order">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#star" role="tab" aria-controls="nav-home" aria-selected="true">Sur place</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#di" role="tab" aria-controls="nav-profile" aria-selected="false">Reserver</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dri" role="tab" aria-controls="nav-profile" aria-selected="false">Livrer</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#dess" role="tab" aria-controls="nav-contact" aria-selected="false">Emporter</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="star" role="tabpanel" aria-labelledby="nav-home-tab">
				<p>sur place</p>
			</div>
			<div class="tab-pane fade" id="di" role="tabpanel" aria-labelledby="nav-profile-tab">
				<p>reserver</p>
			</div>
			<div class="tab-pane fade" id="dri" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>livrer</p>
			</div>
			<div class="tab-pane fade" id="dess" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>emporter</p>
			</div>
		</div>
	</div>


{% endblock %}