{% extends 'base.html.twig' %}

{% block title %} {{ controller_oneResto }} {% endblock %}


{% block body %}  
	
	<img class="card-img-top" src="/pictures/{{pictureResto}}.jpg" alt="{{pictureResto}}" id="imgOneResto" />
	
	
	<div id="theOneResto">
		<p id ="titleOneResto">
			{{nameResto}}
		</p>
		<p>
			{{streetResto}} <br />{{zipCodeResto}} {{cityResto}}
		</p>
		<p>
			Tél: {{phoneResto}}<br />
			Mail: {{emailResto}}
		</p>
	</div>

	<div id="foods">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#starter" role="tab" aria-controls="nav-home" aria-selected="true">starters</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dish" role="tab" aria-controls="nav-profile" aria-selected="false">dishs</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#drink" role="tab" aria-controls="nav-profile" aria-selected="false">drinks</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#dessert" role="tab" aria-controls="nav-contact" aria-selected="false">desserts</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			
			<div class="tab-pane fade show active" id="starter" role="tabpanel" aria-labelledby="nav-home-tab">
				
				{% for starter in starters %}
					<div id="divStarter">
						<img class="card-img-top" src="/pictures/{{starter.picture}}.jpg" alt="{{starter.picture}}" id="imgfood" />
						<b>{{starter.name}}</b><br />
						{{starter.ingredient}} <br />
						<table id="tabStarter">
							<tr>
								<th colspan="3" style="width: 50px;">{{starter.price}} €</th>
							</tr>
							<tr>
								<td>0</td>
								<td><b>+</b></td>
								<td><b>-</b></td>
							</tr>
							
						</table>
					</div>
				{% endfor %}

			</div>
			<div class="tab-pane fade" id="dish" role="tabpanel" aria-labelledby="nav-profile-tab">
				
				{% for dish in dishs %}
					<img class="card-img-top" src="/pictures/{{dish.picture}}.jpg" alt="{{dish.picture}}" id="imgfood" />	
					{{dish.name}}<br />
					{{dish.ingredient}} <br />
					{{dish.price}} €<br />
				{% endfor %}
	
			</div>
			<div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="nav-contact-tab">
				
				{% for drink in drinks %}
					<img class="card-img-top" src="/pictures/{{drink.picture}}.jpg" alt="{{drink.picture}}" id="imgfood" />
					{{drink.name}}<br />
					{{drink.price}} €<br />
					{{drink.ingredient}} <br />
				{% endfor %}

			</div>
			<div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="nav-contact-tab">
				
				{% for dessert in desserts %}
					<img class="card-img-top" src="/pictures/{{dessert.picture}}.jpg" alt="{{dessert.picture}}" id="imgfood" />	
					{{dessert.name}}<br />
					{{dessert.price}} €<br />
					{{dessert.ingredient}} <br />
				{% endfor %}
		
			</div>
		</div>
	</div>

	<div id="orders">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#star" role="tab" aria-controls="nav-home" aria-selected="true">Sur place</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#di" role="tab" aria-controls="nav-profile" aria-selected="false">Reserver</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dr" role="tab" aria-controls="nav-profile" aria-selected="false">Livrer</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#de" role="tab" aria-controls="nav-contact" aria-selected="false">Emporter</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			
			<div class="tab-pane fade show active" id="star" role="tabpanel" aria-labelledby="nav-home-tab">
				<p>Manger sur place</p>
			</div>
	
			<div class="tab-pane fade" id="di" role="tabpanel" aria-labelledby="nav-profile-tab">
				<p>Reserver une table uniquement</p>
			</div>
			
			<div class="tab-pane fade" id="dr" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>Se faire livrer</p>
			</div>
			<div class="tab-pane fade" id="de" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>Emporter</p>			
			</div>
			</div>
		</div>

		<button id="btnOrder" type="button" class="btn btn-outline-success" href="{{path('order')}}">Order</button>
		<button id="btnReviews" type="button" class="btn btn-outline-warning">Reviews</button>
	
{% endblock %}