{% extends 'base.html.twig' %}

{% block title %} {{ controller_oneResto }} {% endblock %}


{% block body %}  
	
	<img class="card-img-top" src="/pictures/{{pictureResto}}.jpg" alt="{{pictureResto}}" id="imgOneResto" />
	
	
	<div id="theOneResto">
		<p id ="titleOneResto">
			{{nameResto}}
		</p>
		<p>
			{{streetResto}} <br />{{zipCodeResto}} {{cityResto}}
		</p>
		<p>
			Tél: {{phoneResto}}<br />
			Mail: {{emailResto}}
		</p>
	</div>

	<div id="foods">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#starter" role="tab" aria-controls="nav-home" aria-selected="true">starter</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dish" role="tab" aria-controls="nav-profile" aria-selected="false">dish</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#drink" role="tab" aria-controls="nav-profile" aria-selected="false">drink</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#dessert" role="tab" aria-controls="nav-contact" aria-selected="false">dessert</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			
			<div class="tab-pane fade show active" id="starter" role="tabpanel" aria-labelledby="nav-home-tab">
				
				{% for starter in starters %}
					{{starter.name}}<br />
					{{starter.price}}<br />
					{{starter.ingredient}} <br />
				{% endfor %}

			</div>
			<div class="tab-pane fade" id="dish" role="tabpanel" aria-labelledby="nav-profile-tab">
				
				{% for dish in dishs %}
					{{dish.name}}<br />
					{{dish.price}}<br />
					{{dish.ingredient}} <br />
				{% endfor %}
	
			</div>
			<div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="nav-contact-tab">
				
				{% for drink in drinks %}
					{{drink.name}}<br />
					{{drink.price}}<br />
					{{drink.ingredient}} <br />
				{% endfor %}

			</div>
			<div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="nav-contact-tab">
				
				{% for dessert in desserts %}
					{{dessert.name}}<br />
					{{dessert.price}}<br />
					{{dessert.ingredient}} <br />
				{% endfor %}
		
			</div>
		</div>
	</div>

	<div id="orders">
		<nav>
			<div class="nav nav-tabs" class="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#star" role="tab" aria-controls="nav-home" aria-selected="true">Sur place</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#di" role="tab" aria-controls="nav-profile" aria-selected="false">Reserver</a>
				<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#dr" role="tab" aria-controls="nav-profile" aria-selected="false">Livrer</a>
				<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#de" role="tab" aria-controls="nav-contact" aria-selected="false">Emporter</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			
			<div class="tab-pane fade show active" id="star" role="tabpanel" aria-labelledby="nav-home-tab">
				<p>Manger sur place</p>
			</div>
	
			<div class="tab-pane fade" id="di" role="tabpanel" aria-labelledby="nav-profile-tab">
				<p>Reserver une table uniquement</p>
			</div>
			
			<div class="tab-pane fade" id="dr" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>Se faire livrer</p>
			</div>
			<div class="tab-pane fade" id="de" role="tabpanel" aria-labelledby="nav-contact-tab">
				<p>Emporter</p>			
			</div>
			</div>
		</div>
	
{% endblock %}