<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ ('/dist/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ ('/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ ('/dist/css/styles.css') }}" />
            <script src="{{ ('/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ ('/dist/js/bootstrap.js') }}"></script>           
        {% endblock %}
    </head>
    
    <body>
        <a href="{{ path('restaurants')}}"><img id="logo" src="/pictures/logo.gif" alt="logo du site"/></a>
        <div id="homeNav">
            <ul class="nav nav-pills nav-fill">
                <li id="li1" class="nav-item">
                    <a class="nav-link" href="{{path('countries')}}">Countries</a>
                </li>
                <li id="li2" class="nav-item">
                    <a class="nav-link" href="{{path('cities')}}">Cities</a>
                </li>
                <li id="li3" class="nav-item">
                    <a class="nav-link" href="{{path('types')}}">Types</a>
                </li>
                <li id="li4" class="nav-item">
                    <a class="nav-link" href="#">User</a>
                    
                </li>
            </ul>
        </div>

        <nav id="search">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        {% block body %} {% endblock %}

        <div id="footer">
            {% block footer %} 
                Brahim KHADRI<br /> -- TFE -- <br />2018
            {% endblock %}
        </div>

    </body>

</html>
