{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
{% for foods in foods %}
<form action = "{{ path('addBasket') }}" methode="get"></form>
    {{foods.name}}
    <select name="qty" class="span1" onChange="this.form.submit()">
        {% for in 0..10 %}
            <optionv value="{{ i }}" {% if i == basket[foods.id] %} selected="selected"{% endif %} </optionv>
        {% endfor %}
    </select>
    <a href="{{ path('deleteBasket', {'id': foods.id}) }}">delette</a>
    {{foods.prix $ basket[foods.id]}} €
</form>
{% endfor %}
{% endblock %}
