{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<!-- show all meals who the custormer who chose -->
	<div>
		{% for foods in foods %}
			<form action = "{{ path('addBasket') }}" methode="get"></form>
				{{foods.name}}
				<select name="qty" class="span1" onChange="this.form.submit()">
					{% for i in 0..10 %}
						<optionv value="{{ i }}" {% if i == basket[foods.id] %} selected="selected"{% endif %} </optionv>
				{% endfor %}
				</select>

				<a href="{{ path('deleteBasket', {'id': foods.id}) }}">delette</a>
				{{foods.prix *  basket[foods.id]}} €
			</form>
		{% endfor %}
	</div>

	<!-- this form render to orderController for show the modal payment -->
	<div id="payment">
		<form action="checkout" method="POST">
			<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_jLKK1NFImPeoJm9q6y85K7Wp"
				data-amount="500"
				data-name="Restonline"
				data-description="The bill"
				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
				data-locale="auto"
				data-currency="eur">
			</script>
		</form>
</div>
{% endblock %}
