{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<!-- show all meals who the custormer who chose -->
	<div>
		{% for foods in foods %}
			<form action = "{{ path('addBasket') }}" methode="get"></form>
				{{foods.name}}
				<select name="qty" class="span1" onChange="this.form.submit()">
					{% for i in 0..10 %}
						<optionv value="{{ i }}" {% if i == basket[foods.id] %} selected="selected"{% endif %} </optionv>
				{% endfor %}
				</select>

				<a href="{{ path('deleteBasket', {'id': foods.id}) }}">delette</a>
				{{foods.prix *  basket[foods.id]}} €
			</form>
		{% endfor %}
	</div>
	
	<div>
		<h1 style="text-align: center; margin-top:5%;"> Basket </h1><br />

		<div style="margin-left: 19%;">
			<table style="width: 80%;">
				<tr>
					<th style="width:35%; border:1px solid black"> Name of your meal</th>
					<th style="width:10%; border:1px solid black"> Quantity</th>
					<th style="width:10%; border:1px solid black"> Price</th>

					<tr>
						<td>Salade de thon</td>
						<td>4</td>
						<td>40 €</td>
					</tr>
					<tr>
						<td>Coca-cola</td>
						<td>2</td>
						<td>2,20 €</td>
					</tr>
					<tr>
						<td>Sprite</td>
						<td>2</td>
						<td>2,50 €</td>
					</tr>
				</tr>
			</table>
		</div>
	</div>

	<div style="text-align: right; width:80%; margin-top:2%;">
		<p><b> Total: 44,70 €</b></p>
	</div>

	<!-- this form render to orderController for show the modal payment -->
	<div id="payment">
		<form action="checkout" method="POST">
			<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_jLKK1NFImPeoJm9q6y85K7Wp"
				data-amount="4470"
				data-name="Restonline"
				data-description="The bill"
				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
				data-locale="auto"
				data-currency="eur">
			</script>
		</form>
</div>
{% endblock %}
